.wrapper {
  padding: 0 24px;
  .cards {
    overflow-y: scroll;
    height: 58vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 3px;
      background-color: #e6e6e6;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #8d8b8b;
    }
  }
}

.emptyCart {
  max-width: 191px;
  max-height: 117px;
  font-weight: 600;
  font-size: 26px;
  line-height: 150%;
  text-align: center;
}
