.wrapper {
  padding: 24px;
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.emptyCart {
  max-width: 191px;
  max-height: 117px;
  font-weight: 600;
  font-size: 26px;
  line-height: 150%;
  text-align: center;
}
