.cart {
  width: 388px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .cartHeader {
    width: 100%;
    padding: 13px 24px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #ffffff;
    }
    .crossButton {
      width: 12px;
      height: 12px;
      cursor: pointer;
      .line {
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        &:first-of-type {
          transform: translateY(5px) rotate(45deg);
        }
        &:last-of-type {
          transform: translateY(4px) rotate(-45deg);
        }
      }
      &:hover {
        width: 14px;
        height: 14px;
      }
    }
  }
  .cartNav {
    width: 100%;
    padding: 18px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .itemActive {
      font-weight: 900;
    }
  }
  .cardFooter {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
    margin: auto 0 0;
    .totalPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .totalText {
        font-size: 14px;
        line-height: 22px;
      }
      .totalPrice {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
    }
    .button {
      padding: 16px 0;
      background-color: #121212;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.9);
      border: unset;
      min-width: 70px;
    }
    .further {
      background-color: #121212;
      &:hover {
        opacity: 0.5;
      }
    }
    .viewCart {
      background-color: #f8f8f8;
      color: rgba(18, 18, 18, 0.9);
      &:hover {
        background-color: #121212;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .cart {
    width: 100%;
  }
}
