.wrapper {
  width: 100%;
  margin-top: 104px;
  .relatedWrapper {
    max-width: 1110px;
    margin: 0 auto 96px;
    .titleWrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      .title {
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-right: auto;
      }
      .arrows {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        column-gap: 24px;
        .arrow {
          border-radius: 50%;
          opacity: 0.4;
          padding: 0;
          border: none;
          width: 40px;
          height: 40px;
          background-image: url(./assets/arrow-left.svg);
          &:hover {
            opacity: 1;
            box-shadow: #000000 0px 0px 2px;
          }
        }
        .right {
          transform: rotate(180deg);
        }
      }
    }
    .related {
      margin-top: 48px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .related {
    width: 810px;
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 822px) {
  .related {
    width: 530px;
  }
}
@media screen and (max-width: 565px) {
  .wrapper {
    margin-top: 50px;
    .relatedWrapper {
      margin-bottom: 48px;
    }
  }
}

@media screen and (max-width: 542px) {
  .related {
    width: 255px;
  }
}
@media screen and (max-width: 401px) {
  .wrapper {
    .relatedWrapper {
      .titleWrapper {
        justify-content: center;
        .title {
          margin: 0;
        }
      }
    }
  }
}
