.cardFooter {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  .totalPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .totalText {
      font-size: 14px;
      line-height: 22px;
    }
    .totalPrice {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }
  .button {
    padding: 16px 0;
    background-color: #121212;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    border: unset;
    min-width: 70px;
  }
  .further {
    background-color: #121212;
    &:hover {
      opacity: 0.5;
    }
  }
  .viewCart {
    background-color: #f8f8f8;
    color: rgba(18, 18, 18, 0.9);
    &:hover {
      background-color: #121212;
      color: #ffffff;
    }
  }
}
