.horisontalLine {
  width: 100%;
  background: #ffffff;
  border: 2px solid #f8f8f8;
  box-sizing: border-box;
  margin: 12px 0;
}

.delyveryTitle {
  font-size: 14px;
  line-height: 22px;
}
.label {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: bottom;
}
.castomRadio {
  margin-right: 16px;
  width: 18px;
  height: 18px;
}
.dataItem {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  position: relative;
  .dataLabel {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 12px 0 8px;
  }
  .input {
    width: 100%;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #9c9c9c;
    border: unset;
    background-color: #f8f8f8;
    text-indent: 16px;
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #9c9c9c;
    }
    &:focus {
      border: unset;
    }
    &.error {
      border-color: #ff0000;
      box-shadow: 0 0 5px #ff0000;
    }
  }
  .dubleInput {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: relative;
    .eyeButton {
      height: 20px;
      width: 20px;
      position: absolute;
      right: 12px;
      top: 12px;
      background-image: url(./assets/eye.svg);
      background-position: center;
      background-repeat: no-repeat;
      &.active {
        background-image: url(./assets/eye-active.svg);
      }
    }
  }
}
.checkboxLabel {
  margin-top: 12px;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  .castomCheckbox {
    margin-right: 16px;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
  }
  &.error {
    color: red;
  }
}

.errorMessage {
  text-align: right;
  color: red;
  font-size: 14px;
}
