.headerWrapper {
  background-color: #f8f8f8;
  .header {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding: 9px 0;
      .navList {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 6px;
        .navItem {
          font-weight: 500;
          font-size: 11px;
          line-height: 18px;
          opacity: 0.6;
          text-transform: capitalize;
          a {
            color: #121212;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .navItem:last-of-type {
          opacity: 1;
        }
      }
    }
    .title {
      text-align: center;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      padding: 10px 0 24px;
    }
  }
}
.loading {
  margin: 48px auto 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .loadinIco {
    width: 22px;
    height: 22px;
    background-color: #121212;
    animation: moving 3s infinite linear;
    transform-origin: center;
  }
}

.checkedString {
  margin: 0 auto;
  max-width: 1110px;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  column-gap: 32px;
  font-size: 14px;
  line-height: 22px;
  .stringTitle {
    font-weight: bold;
  }
  .stringText {
    opacity: 0.6;
  }
}

.menu {
  display: none;
  animation: unSlideFilter 1s ease-in-out;
}

.menuActive {
  display: block;
  animation: slideFilter 1s ease-in-out;
}

@keyframes slideFilter {
  0% {
    
    height: 0;
    opacity: 0;
  }
  50% {
    
    height: 366px;
    opacity: 0;
  }
  100% {
    
    height: 366px;
    opacity: 1;
  }
}

@keyframes unSlideFilter {
  0% {
    transform: translateY(0);
    height: 368px;
  }
  100% {
    transform: translateY(-368px);
    height: 0;
  }
}

@keyframes moving {
  100% {
    transform: rotate(360deg);
  }
}
